* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

#list {
    border: 2px solid black;
    width: 600px;
    height: 200px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#input {
    height: 50px;
    width: 300px;
    text-align: start;
}

.button {
    height: 50px;
    width: 100px;
    border-radius: 10%;
}

.xBut {
    height: 20px;
    width: 30px;
    border-radius: 10%;
    display: inline;
    margin-left: 10px;
    text-decoration: none;

}

.checkBut {
    height: 20px;
    width: 50px;
    border-radius: 10%;
    display: inline;
    margin-left: 10px;
    text-decoration: none;

}

.done {
    background-color: yellowgreen;
}

.lis {
    width: fit-content;
    font-size: 16px;
    margin-right: 10px;
    gap: 20px;
}

.toDo {
    margin-top: 20px;
    display: block;
    width: fit-content;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    list-style-position: inside;
}